<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <a href="{{ product.get_absolute_url }}">
            <img src="https://cdn.leroymerlin.com.br/products/porcelanato_esmaltado_61938_61x61cm_artens_90403131_bd7a_300x300.jpeg" alt="" />
        </a>
        <div class="caption">
            <h3>{{ product }}</h3>
            {{ product.description|linebreaks }}
            <p><a href="" class="btn btn-success" role="button">Detalhes</a> <a href="{% url 'checkout:create_cartitem' product.slug %}" class="btn btn-default" role="button">Adicionar</a></p>
        </div>
    </div>
</div>